---
export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<span
  class:list={[
    'font-heading font-bold text-xl md:text-2xl tracking-tight text-primary select-none',
    className,
  ]}
>
  Underland<span class="text-default">EX</span>
</span>
